<div class="container">

    <div class="content-container">
        <div class="header">
            <div style="font-size: 2vw">
                Mark Nauman
            </div>
            <div style="font-size: 0.9vw">
                Software Developer
            </div>
        </div>
        <div id="a-container">
            <a href="https://github.com/mnauman319"><div id="img-container"><div><p>Github</p></div><img src="../../../assets/GitHub-Mark-32px.png"></div></a>
            <a href="https://www.linkedin.com/in/mark-nauman-999700138"><div id="img-container"><div><p>Linkedin</p></div><img src="../../../assets/icons8-linkedin-32.png"></div></a>
            <a href="../../../assets/Mark-Nauman-Resume.pdf"><div id="img-container"><div><p>Resume</p></div><img src="../../../assets/icons8-download-resume-32.png"></div></a>
            <a href="https://www.codewars.com/users/mnauman"><div id="img-container"><div><p>Codewars</p></div><img src="../../../assets/codewars_logo_icon_145389.png"></div></a>
            <!-- <a href="/apps"><div id="img-container"><div><p>Applications</p></div><img src="../../../assets/edit-app-widget-grid-512.png" alt=""></div></a> -->
        </div>
    </div>
    <app-applications></app-applications>
    
</div>

