<div class="wrapper">
    
    <div style="grid-column:1; grid-row: 2/5; text-align: center;">
        Technical Skills
    </div>
    <div style="grid-column:2/4;grid-row: 2">
        skill1
    </div>
    <div style="grid-column:2/4;grid-row: 3">
        skill2
    </div>
    <div style="grid-column:2/4;grid-row: 4">
        skill3
    </div>


    <div style="grid-column:1; grid-row: 6/9; text-align: center;">
        Soft Skills
    </div>
    <div style="grid-column:2/4;grid-row: 6">
        skill1
    </div>
    <div style="grid-column:2/4;grid-row: 7">
        skill2
    </div>
    <div style="grid-column:2/4;grid-row: 8">
        skill3
    </div>
</div>




<!-- 
<div class="container">
    <h1>Resume</h1>
    <a href="../../../assets/Mark-Nauman-Resume.pdf">Resume</a>
     
</div> -->

<!--

    
    
-->